<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/elektroniikka">Elektroniikka</a></li>
            <li><a href="/kodinkoneet">Kodinkoneet</a></li>
            <li><a href="/koti">Koti</a></li>
            <li><a href="/remontointi">Remontointi</a></li>
            <li><a href="/urheilu">Urheilu</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
{% block body %}
<h2 header="page-header">Latest todos</h2>
<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th>Todo</th>
<th>Due date</th>
<th></th>
</tr>
</thead>
<tbody>
{% for product in products %}
<tr>
<th scope="row">{{product.id}}</th>
<td>{{product.name}}</td>

<td>
<a href="/todo/details/{{product.id}}" class="btn btn-success">View</a>
<a href="/todo/edit/{{product.id}}" class="btn btn-default">Edit</a>
<a href="/todo/delete/{{product.id}}" class="btn btn-danger">Delete</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
