<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/elektroniikka">Elektroniikka</a></li>
            <li><a href="/kodinkoneet">Kodinkoneet</a></li>
            <li><a href="/koti">Koti</a></li>
            <li><a href="/remontointi">Remontointi</a></li>
            <li><a href="/urheilu">Urheilu</a></li>
          </ul>
          <div class="col-sm-3 col-md-3">
    <form class="navbar-form" role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="For example: Samsung..." id="filter">
    </div>
    </form>
    <button style="position: absolute; top: 8px; left: 210px;" class="btn btn-default" id="searchButton"><i class="glyphicon glyphicon-search"></i></button>
</div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
              <div class="container">

<div id="search">
  <div id="category1" style="border: 1px solid black; background-color: white;">
  </div>
  <div id="category2" style="border: 1px solid black; background-color: white;">
  </div>
  <div id="category3" style="border: 1px solid black; background-color: white;">
  </div>
  <div id="category4" style="border: 1px solid black; background-color: white;">
  </div>
  <div id="category5" style="border: 1px solid black; background-color: white;">
  </div>
</div>

<h2 header="page-header">Home</h2>
<h3>Selaa kaikkia tuotteita:</h3>
<a href="/products"><h3>Tuotteet</h3></a>
<h3>Näyteikkunan tuotteita:</h3>


  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators" style="position: absolute; margin-bottom: -60px; background-color: #ededed; border-radius: 20px;">
        <li style="height: 25px; width: 25px; border: 0.1em solid black;" data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% for article in products %}

        <li style="height: 25px; width: 25px; border: 0.1em solid black;" data-target="#myCarousel" data-slide-to={{article.index}}></li>
        {% endfor %}

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" style="min-height: 300px;">
        <div class="item active" style="margin-top: 40px;">
          <a href="/product/details/{{firstItem.id}}"><img src={{ firstItem.imgurl1 }} alt="Chania" style="position: relative; display: block; margin-left: auto; margin-right: auto; max-height: 300px; max-width: 300px; min-height: 300px; min-width: 300px;"></a>
          <div class="carousel-caption">
            <p style="background-color: lightgray; border-radius: 5px; font-size: 20px; color: black; max-width: 250px; max-height: 200px; padding-left: 20px; padding-right: 20px; margin-bottom: 10px;">{{ firstItem.name }}</p>
            <p style="color: black; max-width: 250px; max-height: 200px; padding-left: 20px; padding-right: 20px; margin-bottom: 10px;">{{ firstItem.descriptionShortened }}</p>
            <a href="/product/details/{{firstItem.id}}"><p style="background-color: orange; color: black; text-align: center; max-width: 250px; padding: 10px;">Lue lisää tuotteesta...</p></a>
          </div>
        </div>

        {% for article in products %}
        <div class="item" style="margin-top: 40px;">
          <a href="/product/details/{{article.id}}"><img src={{ article.imgurl1 }} alt="Chania" style="position: relative; display: block; margin-left: auto; margin-right: auto; max-height: 300px; max-width: 300px; min-height: 300px; min-width: 300px;"></a>
          <div class="carousel-caption">
            <p style="background-color: lightgray; border-radius: 5px; font-size: 20px; color: black; max-width: 250px; max-height: 200px; padding-left: 20px; padding-right: 20px; margin-bottom: 10px;">{{ article.name }}</p>
            <p style="color: black; max-width: 250px; max-height: 200px; padding-left: 20px; padding-right: 20px; margin-bottom: 10px;">{{ article.descriptionShortened }}</p>
            <a href="/product/details/{{article.id}}"><p style="background-color: orange; color: black; text-align: center; max-width: 250px; padding: 10px;">Lue lisää tuotteesta...</p></a>
          </div>
        </div>
        {% endfor %}

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


</div>
