<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/elektroniikka">Elektroniikka</a></li>
            <li><a href="/kodinkoneet">Kodinkoneet</a></li>
            <li class="active"><a href="/koti">Koti</a></li>
            <li><a href="/remontointi">Remontointi</a></li>
            <li><a href="/urheilu">Urheilu</a></li>
          </ul>
          <div class="col-sm-3 col-md-3">
    <form class="navbar-form" role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="filter">
    </div>
    </form>
    <button style="position: absolute; top: 8px; left: 210px;" class="btn btn-default" id="searchButton"><i class="glyphicon glyphicon-search"></i></button>
</div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
  <h2 header="page-header">Koti</h2><hr>
  {# total items count #}
  <div class="count">
  <!--     {{ pagination.getTotalItemCount }} -->
  </div>
  <table class="table table-striped">
  <thead>
  <tr>
  {# sorting of properties based on query components #}
    <th class="btn btn-default">{{ knp_pagination_sortable(pagination, 'Järjestä hinnan mukaan', 'a.price') }}</th>
    <!--  <th{% if pagination.isSorted('a.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.name') }}</th> -->
    <!-- <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th> -->
  </tr>

  {# table body #}
  {% for article in pagination %}
  <tr {% if loop.index is odd %}class="color"{% endif %}>
    <!-- <td>{{ article.id }}</td> -->
    <td  class="col-md-1"><img src={{ article.imgurl1 }} style="width: 100px; height: 100px;"></td>
    <td class="col-md-2">{{ article.name }}</td>
    <td class="span2">{{ article.price }}€</td>
    <!--  <th scope="row">{{article.id}}</th> -->
    <!-- <td>{{article.name}}</td> -->

    <td>
    <a href="/product/details/{{article.id}}" class="btn btn-success">Näytä tuote</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {# display navigation #}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
