<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block javascripts %}
    <script src="{{ asset('js/searchpagescript.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/elektroniikka">Elektroniikka</a></li>
            <li><a href="/kodinkoneet">Kodinkoneet</a></li>
            <li><a href="/koti">Koti</a></li>
            <li><a href="/remontointi">Remontointi</a></li>
            <li><a href="/urheilu">Urheilu</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">

<div class="col-sm-8 col-md-9">
<div class="input-group">
<input style="width: 400px;" type="text" class="form-control" placeholder="Search" id="filter">
<button class="btn btn-default" id="searchButton"><i class="glyphicon glyphicon-search"></i></button></br></br>
<form id="myForm">
<label class="radio-inline">
<input type="radio" name="radioName" value="1" /> Elektroniikka <br />
</label>
<label class="radio-inline">
<input type="radio" name="radioName" value="2" /> Kodinkoneet <br />
</label>
<label class="radio-inline">
<input type="radio" name="radioName" value="3" /> Koti <br />
</label>
<label class="radio-inline">
<input type="radio" name="radioName" value="4" /> Urheilu <br />
</label>
<label class="radio-inline">
<input type="radio" name="radioName" value="5" /> Remontointi <br />
</label>
</form>
</div>
</div>

<div id="search" style="padding-top: 100px;">
  <div id="category1" style="border: 1px solid black; background-color: white;">
  </div>
</div>

</div>
