<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    <script>
    function setImgurl(currenturl) {
      var imgName = currenturl.src;
      $("#currenturl").attr("src", imgName);
    }

</script>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li><a href="/products">Products</a></li>
            <li><a href="/product/create">Add Product</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="padding-bottom: 300px;">

{% block body %}
    <hr>
    <h2 class="page-header">{{product.name}}</h2>
    <ul class="list-group">
    <li class="list-group-item">

      <img src={{ product.imgurl1 }} style="width: 200px; height: 200px;" data-toggle="modal" data-target="#myModal" onclick="setImgurl(this)">
      <img src={{ product.imgurl2 }} style="width: 200px; height: 200px;" data-toggle="modal" data-target="#myModal" onclick="setImgurl(this)">
      <img src={{ product.imgurl3 }} style="width: 200px; height: 200px;" data-toggle="modal" data-target="#myModal" onclick="setImgurl(this)">
    </li>
    <li class="list-group-item">Name: {{product.name}}</li>
    <li class="list-group-item">Category: {{category}}</li>
    <li class="list-group-item">Price: {{product.price}}</li>
    </ul>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Kuvaus</a></li>
        <li><a data-toggle="tab" href="#menu1">Tekniset tiedot</a></li>
        <li><a data-toggle="tab" href="#menu2">Asiakaspalautteet</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>Kuvaus</h3><br>
          {% for key, article in product.descriptionList %}
              {% if key % 2 == 0 %}
                  <b>{{ article }}</b>
              {% else %}
                  <p>{{ article }}</p>
              {% endif %}
          {% endfor %}
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Tekniset tiedot</h3><br>
            <div class="container">
  <ul class="list-group">
    {% for article in product.detailsList %}
    <li class="list-group-item">{{article}}</li>
    {% endfor %}
      </ul>
</div>
        </div>
        <div id="menu2" class="tab-pane fade" style="overflow-y : scroll; max-height: 800px; overflow-x : hidden;">
          <h3>Asiakaspalautteet</h3>
      {% for review in product.reviews %}
      <br>
    <div style="width: 80px; height: 80px; float:left;">
      <img src="https://static.wixstatic.com/media/2653cd_02a8474e57b5420e8ae1f5b25ce3685c.jpg" style="width: 80px; height: 80px;"></div>
    <div class="row">
      <div class="col-xs-2"><b>Käyttäjä:</b> {{ review.user }}</div>
      <div class="col-xs-2"><b>Arvio: </b>{{ review.score }}</div>
      <div class="col-xs-6 col-sm-8 col-lg-10">{{ review.content }}</div>
    </div>
      {% endfor %}
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{product.name}}</h4>
          </div>
          <div class="modal-body">
            <p>Klikkaa haluamaasi kuvaa.</p>
            <div style="float: left;">
            <img id="currenturl" src="" style="width: 500px; height: 500px;" data-target="#myModal">
          </div>
          <div>
          <img id="currenturl" src={{product.imgurl1}} style="width: 100px; height: 100px;" data-target="#myModal" onclick="setImgurl(this)">
          <img id="currenturl" src={{product.imgurl2}} style="width: 100px; height: 100px;" data-target="#myModal" onclick="setImgurl(this)">
          <img id="currenturl" src={{product.imgurl3}} style="width: 100px; height: 100px;" data-target="#myModal" onclick="setImgurl(this)">
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
